<div class="columns">
  <div class="column is-three-quarters">
    <div class="box">
        <%= render 'new_post_form' %>
        <div style='margin-bottom: 40px'></div>
    </div>
    <%= render 'post_template' %>
  </div>
</div>


