<form action="/users" class="form-horizontal" method='post' >
<fieldset>

<!-- Form Name -->
<legend class="is-size-3">Sign up</legend>

<!-- Text input-->
<div class="field">
  <label class="label" for="textinput-1">Username</label>
  <div class="control">
    <input type="text" placeholder="Username" class="input ">
    
  </div>
</div>

<!-- Text input-->
<div class="field">
  <label class="label" for="textinput-0">Email</label>
  <div class="control">
    <input type="text" placeholder="Email" class="input">  
  </div>
</div>

<!-- Password input-->
<div class="field">
  <label class="label" for="passwordinput-0">Password </label>
  <div class="control">
    <input type="password" placeholder="Password" class="input">
  </div>
</div>

<!-- Button -->
<div class="field">
  <label class="label" for="singlebutton-0"></label>
  <div class="control">
    <button class="button is-info" type="submit">Sign up</button>
  </div>
</div>

</fieldset>
</form>