<form action="/users" class="form-horizontal" method='post' >
<fieldset>

<!-- Form Name -->
<legend class="is-size-3">Login</legend>

<!-- Text input-->
<div class="field">
  <label class="label" for="textinput-0">Email</label>
  <div class="control">
    <input value="testing" placeholder="Email" class="input">
  </div>
</div>

<!-- Password input-->
<div class="field">
  <label class="label" for="passwordinput-0">Password</label>
  <div class="control">
    <input type="password" placeholder="Password" class="input">
  </div>
</div>

<!-- Button -->
<div class="field">
  <div class="control">
    <button class="button is-info" type="submit">Login</button>
  </div>
</div>

</fieldset>
</form>