<form class="form-horizontal" >
<fieldset>

<!-- Form Name -->
<legend class="is-size-3">Login</legend>

<!-- Text input-->
<div class="field">
  <label class="label" for="textinput-0">Email</label>
  <div class="control">
    <input id="textinput-0" name="textinput-0" type="text" placeholder="Email" class="input ">
    
  </div>
</div>

<!-- Password input-->
<div class="field">
  <label class="label" for="passwordinput-0">Password</label>
  <div class="control">
    <input id="passwordinput-0" name="passwordinput-0" type="password" placeholder="Password" class="input ">
    
  </div>
</div>

<!-- Button -->
<div class="field">
  <div class="control">
    <button id="singlebutton-0" name="singlebutton-0" class="button is-info">Login</button>
  </div>
</div>

</fieldset>
</form>