<div class="columns">
  <div class="column is-two-fifths">
  <div class='box'>
    <%= render "sign_in" %>
        <div class='block'></div>
    <%= render "devise/shared/links" %>
  </div>
</div>
</div>
